body{
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1057px;
    margin: 0 auto;
}

.title{
    width: 100%;
    text-align: center;
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 50px;
}
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.card{
    width: 117px;
    height: 146px;
    position: relative;
    margin: 17px;
    cursor: pointer;
}

.frontFace-card,
.backFace-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    backFace-visibility: hidden;
    transition: all .5s;
}
.frontFace-card{
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
}
.backFace-card {
    background-color: #99CEA8;
    border: 1px solid #99CEA8;
    transform: rotateY(180deg);
}
.hide-card{
    transform: rotateY(-180deg);
}
.show-card{
    transform: rotateY(0deg);
}

.disabled{
    pointer-events: none;
}

.card img {
    width: 100px;
    height: auto;
}

.clock{
    position: fixed;
    bottom: 0%;
    right: calc(50% - (60px/2));
    width: 60px;
    height: 20px;
    background-color: #4F4F4F;
    color: #FFFFFF;
    border-radius: 3px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@media (max-width: 768px) {
    .title{
        font-size: 36px;
    }
}